%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I am touching base with you again to let you know I am still working on finding you the best flight options. Unfortunately, I still do not have seats available for your parameters. That is not to say I cannot get them, we just need to remain patient. I have gone ahead and requested the release of discounted seats for your specific trip, with all of our contracts/carriers. It may take some time for the seats to reach my inventory, but the price, schedule, and terms and conditions of the ticket will be well worth the wait.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Just as a heads up, all of our tickets are fully changeable for a small fee and can be canceled for full credit. We are able to make as many changes as we like, up until about 4 hours before your scheduled departure, with a guarantee of no difference in tax or fare. I'm also available to you at any time to address any questions, concerns, or inquiries you may have.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Top Business Class is IATA certified, CST certified, and ASTA certified. In the meantime, feel free to read through some of our reviews. The link is in my email signature.
