%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Dear #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I hope this message finds you well.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I understand that sometimes travel plans can change unexpectedly, and I wanted to reach out to you to assist with any adjustments you may need to make. Your comfort and convenience are always our top priorities, which is why we at TopBusinessClass are here to support you every step of the way.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Furthermore, I want to remind you that TopBusinessClass is committed to providing unparalleled service for all your travel needs. Should you require assistance in planning your future trips, whether it's for business or leisure, I'm here to curate personalized experiences tailored to your preferences. From convenient itineraries to exclusive deals on business-class flights, I strive to exceed your expectations and enhance your travel experiences.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Your satisfaction is our utmost priority, and I value your continued trust in TopBusinessClass. Please feel free to reach out to me for any assistance you may need or to discuss your upcoming travel plans. I'm here to serve you around the clock, ensuring that your travel experiences are nothing short of exceptional.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Thank you for choosing TopBusinessClass.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Warm regards,
