%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Thank you for submitting your request with TopBusinessClass. I tried reaching you on the following #{@lead.phone} that you have provided, however, it appears to be invalid. What is the best # to reach you today or tomorrow so we can go over your trip details and the flight options available?

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Thank you,
