%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I received your quote request to #{@lead.arrival} but unfortunately, I had no luck reaching you. The # you had provided appears to be invalid or disconnected. Do you prefer email communication instead, or is there a better # to call?

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Thank you,
