%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      The phone # associated with your request is invalid. In an effort to rule out any computer-generated requests we ask that our clients provide us with the best # to reach them so as to establish some form of communication or reply via email if email communication is preferred. From there forth we can begin to explore possible flight options for your trip.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I look forward to hearing from you!

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Thank you,
