%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I hope this email finds you well. Have your dates/plans firmed up regarding your trip to #{@lead.arrival_city}? TopBusinessClass is now offering FREE cancellation on all tickets booked through 2024.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      When it comes to discounted Intl. Business and First-Class airfare, availability is always changing. If you haven't already booked please give me a call at #{@account.phone} so we can see if there's a suitable flight option available. If you happen to be planning a new trip, let's talk!

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I look forward to hearing from you,
