%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Your flight to #{@lead.arrival_city} is coming up in less than 6 months and the seats are selling out fast! I would hate to see you pay a premium for a last minute trip as the prices will skyrocket as the airlines try to recoup losses from the pandemic.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Please email me your plans/date details and I will send a quote immediately.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Sincerely,
