%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I hope all is well - just following up regarding a trip you had planned from #{@lead.departure_city} to #{@lead.arrival_city}. We've officially reached that window when we can pull available flights so I wanted to see if you're still planning on making this trip. Let me know if your dates or plans have changed in any way since our last email correspondence.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I look forward to hearing back from you!

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Kind regards,
