%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      It's been a while since we last talked. If you are still considering your trip, let's connect and discuss your flight options!

  %tr
    %td{height: 24}

  %tr
    %td.typography
      We have a wide range of discounted fares to #{@lead.arrival_city} with all major carriers, I'm sure we can find one that works for you.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      If plans have changed, let me know and perhaps there's something else I can be helpful with!

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Sincerely,
