%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      I'm almost finished putting together some itinerary/price options for your trip. I'll be emailing them over soon. Thank you for your patience!
  %tr
    %td{height: 24}

  %tr
    %td.typography
      Thank you,
