%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Thank you for your email!

  %tr
    %td{height: 24}

  %tr
    %td.typography
      As you know, we work with a limited inventory of discounted seats not open to the general public (non-published fares). Just like our competitors, our rates and availability change daily, and most companies like ours share the same inventory of discounted seats. While you may be confident that your search is done, I've had the pleasure of providing quotes to clients after they've booked elsewhere, and to their liking, they've canceled what they've booked and received their full money back within 24 hours of making their purchase only to jump ship and book either a similar or better option with me, for much less. This happens quite often, and our over 2000 shopper-approved reviews speak to this.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      What I'm really saying is,
      %strong
        it's not too late
      to cross-check the best option you've found with what I have available in my inventory, in real-time. We offer a best-price-guarantee on all competitor quotes (we will beat any price by at least $100 per passenger) so it never hurts to double-check before making a final decision, or after having made one already.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Let's connect by phone for no more than 2 minutes if you have your booking or quote handy. If I can do better, great news, right!? If not, I'll be straightforward with you so as not to waste your time or mine. Sounds fair?

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Please ring me directly at #{@account.phone}. I'm available now! Thanks for your attention.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Kind regards,
