%table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td.typography.typography--big
      Hi #{@lead.contact_firstname},

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Are you receiving my quotes? Sometimes they bounce to spam or junk mail so please check there in case they haven't hit your inbox.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Please let me know when is the best time for me to call you to go over the specifics and help answer any questions you may have along the way.

  %tr
    %td{height: 24}

  %tr
    %td.typography
      Kind Regards,
